In [2]:
word="I Love python"
print(len(word))

13

In [1]:
#concatenate
word1="i love"
word2="python"
ans=word1+" "+word2
print(ans)

i love python

In [5]:
word="python"

print(word[2])
print(word[5])

t
n

In [6]:
word="python"
for ch in word:
    print(ch)

p
y
t
h
o
n

In [16]:
#slicing str[start idx:endig idx]
word="i am studying in apna college"
print(word[17:])

apna college

In [15]:
#negative index
word="python"
print(word[:-1])

pytho

In [25]:
#list
marks=[34,64,78,99,55,21]
marks[0]=55
print(len(marks))
print(f"Modified List={marks[0]}")
print(type(marks))
print(marks[0:3])

6
Modified List=55
<class 'list'>
[55, 64, 78]

In [36]:
#l.append(val):=add at last 
nums=[4,5,7,3,2,3,89]
print(nums)
nums.append(11)
print(nums)

[4, 5, 7, 3, 2, 3, 89]
[4, 5, 7, 3, 2, 3, 89, 11]

In [35]:
#insert at middle=l.insert(ind,elemenr)
nums=[4,5,7,3,2,3,89]
print(nums)
nums.insert(4,11)
print(nums)
#sorting
nums.sort()
print("Sorted List=",nums)
#reverse
nums.reverse()
print("Reverse List=",nums)

[4, 5, 7, 3, 2, 3, 89]
[4, 5, 7, 3, 11, 2, 3, 89]
Sorted List= [2, 3, 3, 4, 5, 7, 11, 89]
Reverse List= [89, 11, 7, 5, 4, 3, 3, 2]

In [4]:
#Linear Search
x=int(input("enter the x to find="))
nums=[1,3,5,2,3,55,32,50]
#x=55
idx=0
for val in nums:
    
    if(val==x):
        print(f"x found at index={idx}")
        break
    idx+=1

enter the x to find= 55

x found at index=5

In [8]:
#tuple
tup=(2,4,5,3,1)
print(len(tup))
print(type(tup))
sum=0

for val in tup:
    print(val)
    sum+=val
print(f"sum={sum}")

5
<class 'tuple'>
2
4
5
3
1
sum=15

In [10]:
tup=(6,5,3,8,2)
print(tup.index(2))
print(tup.count(2))

4
1

In [15]:
#Dictionary
info={
    "name":"ash",
    "Cgpa":8.6,
    "sub":["math", "Science"],
    3.14:"PI"
}
info["Cgpa"]=6.8
print(info)
print(type(info))
print(info["name"])

{'name': 'ash', 'Cgpa': 6.8, 'sub': ['math', 'Science'], 3.14: 'PI'}
<class 'dict'>
ash

In [23]:
#Set
s={1,2,2,2,3,3,4}
#s.clear()
s.add(9)
#s.remove(1)
#s.pop()

print(s)
print(type(s))
print(len(s))

{2, 3, 4, 9}
<class 'set'>
4

In [25]:
s1={1,2,3,4,5}
s2={4,5,8,9,10}
print(s1.union(s2))
print(s1.intersection(s2))

{1, 2, 3, 4, 5, 8, 9, 10}
{4, 5}

### Practice Question

## ASSIGNMENT 3

#### Q.1 check the given string is palindrome or not

In [5]:
#Palindrome
string1=input("enter string=")
rev=""
for ch in string1:
    rev=ch+rev
if string1 == rev:
    print("Palindrome")
else:
    print("Not Palindrome")

enter string= madam

Palindrome

#### Q.2 Given a list of integers compute the average of all numbers in the list

In [10]:
#code
l=[3,6,9,1,5,78,0,4]
sum=0
for i in l:
    sum+=i
    avg=sum/len(l)
print(f"average of List is {avg}")

average of List is 13.25

#### Q.3 Input two of integers from the user Merge them into one list and sort the result

In [17]:
l1=[1,2,7]
l2=[2,4,5]

result=l1+l2
print(f"Merged and unsorted List={result}")
result.sort()
print(f"Sorted List={result}")

Merged and unsorted List=[1, 2, 7, 2, 4, 5]
Sorted List=[1, 2, 2, 4, 5, 7]

#### Q.4 Given a tuple of intger create a tuple of all even numbers and a tuple of all odd numbers

In [23]:

t=(1,2,3,4,5,6,7,8,9,10)
even=()
odd=()
for i in t:
    if i%2==0:
        even+=(i,)
    else:
        odd+=(i,)
print("Even=",even)
print("Odd=",odd)

Even= (2, 4, 6, 8, 10)
Odd= (1, 3, 5, 7, 9)

### Q.5 Create a dictionary where:
##### keys=student name
##### values=marks(int)
### write a menu-based program where user presses a key ('A','B','C','D') Depending on the operation they want to perform on the dictionary
#####         A-Add a Student
#####         B-Update marks
#####         C-Search for a student
#####         D-Display all students and marks

In [9]:
stud={
    "xyz":67,
    "pqr":77,
    "cid":56,
    "abc":85,
    "ijk":63
}
while True:
    print("\n---------MENU----------\n")
    print("A.Add Student\n")
    print("B.Udate Marks\n")
    print("C.Search for a Student\n")
    print("D.Display all Students and Marks\n")
    print("E.Exist\n")

    choice=input("enter the choice=").upper()

    if choice=="A":
        name=input("enter the name:")
        marks=int(input("Enter the marks:"))
        stud[name]=marks
        print("Student Added")
        
    elif choice=="B":
        name=input("enter the name:")
        marks=int(input("Enter the marks:"))
        stud[name]=marks
        print("Marks Updated")
        
    elif choice=="C":
        name=input("enter the name:")
        if name in stud:
            print(f"found studen {stud[name]}")
        else:
            print("Studen is not available in our Dictionary")
            
    elif choice=="D":
        print(stud.items())
        
    elif choice=="E":
        print("Exist")
        break
    else:
        print("Wrong Choice please remember this you are out from the program!")
        break

---------MENU----------

A.Add Student

B.Udate Marks

C.Search for a Student

D.Display all Students and Marks

E.Exist

enter the choice= e

Exist

#### Q.6 Create a dictionary that maps each word to its length 
###### words=["apple", "banana"]
###### eg., {'apple':5,'banana':6}

In [7]:
word=["apple","banana","kiwi","cherry","mango","grapes"]
new={}
for w in word:
    new[w]=len(w)
print(new)

{'apple': 5, 'banana': 6, 'kiwi': 4, 'cherry': 6, 'mango': 5, 'grapes': 6}

#### Q.7 write a progrea that takes a string from the user and prints the number ofspaces in the string

In [11]:
sentence=input("enter the sentence to calculate the space=")
space=0
for ch in sentence:
    if ch==" ":
        space+=1
print(f"Number of space in string {space}")

enter the sentence to calculate the space= enter the sentence to claculate the space i'm ashwini

Number of space in string 8

#### Q.8 write a program to check whether two lists share ni common elements

In [16]:
l1=[1,2,3,4]
l2=[5,6,7,8]
if set(l1).isdisjoint(l2):
    print("two list shares no common elemnts")
else:
     print("two list shares common elemnts")

two list shares no common elemnts

#### Q.9 Given list print alll elements that appear more than once in the list use set

In [18]:
l1=[1,3,5,6,7,3,4,6,8,9,3,5,7,3,2,3,5]
l2=set()
l3=set()
for i in l1:
    if i in l3:
        l2.add(i)
    else:
        l3.add(i)
print(l2)
print(l3)

{3, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### Q.10 Ask tje user for a string and print: (1) all unique characters (2) the count of unique characters

In [22]:
s=input("enter the string:")
unique=" "
for ch in s:
    if ch not in unique:
        unique=unique+ch
print(f"Unique character in string={unique}")
print(f"count the unique character={len(unique)}")

enter the string: apple

Unique character in string= aple
count the unique character=5